<!DOCTYPE html>
<html>
<head>
    <title>BM - Bulk Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<nav>
    <a href = "{{url_for('index')}}">
        <button>Home</button>
    </a>
    <a href="{{ url_for('add_form') }}">
        <button>Add New Entry</button>
    </a>
    <a href ="{{ url_for('bulk_edit_form') }}">
        <button>Bulk Edit</button>
    </a>

    <button type="submit" form="bulkForm">Save</button>

</nav>
<body>
    <h1>Bulk Edit</h1>
    <form id="bulkForm" action="{{ url_for('bulk_edit_form') }}" method="post">
        <table>
            <tr>
                <th>Date</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Saving</th>
                <th>Delete</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>
                    {{ row[0] }}
                    <input type="hidden" name="date" value="{{ row[0] }}" class="edit_table">
                </td>
                <td><input type="number" name="income_{{ row[0] }}" value="{{ row[1] }}" class="edit_table"></td>
                <td><input type="number" name="expense_{{ row[0] }}" value="{{ row[2] }}" class="edit_table"></td>
                <td><input type="number" name="saving_{{ row[0] }}" value="{{ row[3] }}" class="edit_table"></td>
                <td><input type="checkbox" name="delete_{{ row[0] }}" class="edit_table"> </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
