<!DOCTYPE html>
<html>
<head>
    <title>Basic Money</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
        form { margin-top: 20px; }
    </style>
</head>
<body>
    <h1>Basic Money</h1>
    <p>Welcome to Basic Money! A simple money tracking app.</p>

    <a href="{{ url_for('add_form') }}">
        <button>Add New Entry</button>
    </a>

    <a href ="{{ url_for('bulk_edit_form') }}">
        <button> Bulk Edit an existing entry</button>
    </a>

    <p></p>
    <h2> Your Basic Money Table</h2>
    <p> Here you can see your Basic Money Table and edit them under the edit column.</p>
    <table>
        <tr>
            <th>Date</th>
            <th>Income</th>
            <th>Expense</th>
            <th>Saving</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>