<!DOCTYPE html>
<html>
<head>
    <title>Basic Money Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
        form { margin-top: 20px; }
    </style>
</head>
<body>
    <h1>Basic Money Tracker</h1>
    <p>Welcome to Basic Money! A simple money tracking app.</p>

    <a href="{{ url_for('add_form') }}">
        <button>Add New Entry</button>
    </a>

    <p></p>
    <h2> Your Basic Money Table</h2>
    <p> Here you can see your Basic Money Table and edit them under the edit column.</p>
    <table>
        <tr>
            <th>Date</th>
            <th>Income</th>
            <th>Expense</th>
            <th>Saving</th>
            <th>Edit</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>
                <form action="/edit" method="post" id="form-box">
                    <input type="hidden" name="date" value="{{ row[0]}}" class="form-box">
                    <input type="number" name="income" value="{{ row[1] }}" class="form-box">
                    <input type="number" name="expense" value="{{ row[2] }}" class="form-box">
                    <input type="number" name="saving" value="{{ row[3] }}" class="form-box">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>